body {
  margin: 0;
  background: #222;
  font-family: system-ui;
  display: grid;
  place-content: center;
}
.jm-followCard{
  display: flex;
  align-items: center;
  color: #fff;
  font-size: .8rem;
  justify-content: space-between;
  
}
.jm-followCard-header{
  display: flex;
  align-items: center;
  gap: 4px;
}

.jm-followCard-info{
  display: flex;
  flex-direction: column;
}

.jm-followCard-username{
  opacity: .6;
}

.jm-followCard-avatar{
  width: 48px;
  height: 48px;
  border-radius: 1000px;
}

.jm-followCard-button{
  margin-left: 16px;
  border: 0;
  border-radius: 999px;
  padding: 6px 16px;
  font-weight: bold;
}