body {
  margin: 0;
  background: #222;
  font-family: system-ui;
  display: grid;
  place-content: center;
}
.jm-followCard{
  display: flex;
  align-items: center;
  color: #fff;
  font-size: .8rem;
  justify-content: space-between;
  
}
.jm-followCard-header{
  display: flex;
  align-items: center;
  gap: 4px;
}

.jm-followCard-text{
  display: block;
}

.jm-followCard-username{
  opacity: .6;
}

.jm-followCard-avatar{
  width: 48px;
  height: 48px;
  border-radius: 1000px;
}

.jm-followCard-button{
  cursor: pointer;
  margin-left: 16px;
  border: 0;
  border-radius: 999px;
  padding: 6px 16px;
  font-weight: bold;
  border: 1px solid #000;
  transition: .3s ease background-color;
}
.jm-followCard-button.is-following{
  border: 1px solid #ea3d88;
  background: transparent;
  color: #fff;
  width: 130px;
}

.jm-followCard-button:hover{
  background-color: #09f;
  opacity: .8;
}

.jm-followCard-button.is-following:hover{
  background: #b7454fa1;
  color: red;
  border: 1px solid red;
}
.jm-followCard-button.is-following:hover .jm-followCard-stop-follow{
  display: block;
}
.jm-followCard-stop-follow{
  display: none;

}